
@keyframes toLeft{
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(-10px);
        opacity: 1;
    }
    /* 100%{
        transform: translateX(0px);
        opacity: 0;
    } */
}

@keyframes toRight{
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(10px);
        opacity: 1;
    }
}