@media screen and (max-width:739px){
    .container-home-full .nav .nav-wrap-widget{
    width:100%;
    padding: 5px 0px;
    height:100%;
    
    }
    .container-home-full .nav .nav-ul{
        padding-top: 0px;
    }

    .container-home-full .nav .nav-wrap-widget .nav-ul .nav-li a, .container-home-full .nav .nav-wrap-widget .nav-ul .nav-li{
        font-size: 9px;
    }
    .container-home-full .nav .nav-wrap-button{
        display: none;
    }
    .container-home-full .header .header-ul{
        display: none;
    }

    .container-home-full .header{
        justify-content:space-between;
    }

    .container-home-full .header .wrap-mobile-btn{
        display: block;
    }

    .container-home-full .header .header-logo .header-logo-image{
        width:119px;
    }
    .container-home-full .content .content-container{
        padding-top: 0px;
        padding-bottom: 77px;
    }
    .container-home-full .content .content-wrap-intro{
        margin-left: 0;
        margin-right: 0;
    }
    .container-home-full .content .content-wrap-intro .content-title{
        width:100%;
        text-align: center;
        height:462px;
    }
    .container-home-full .content .content-wrap-intro .content-title .button-link{
        margin-left: 30px;
    }
    .container-home-full .content .why-use-seo{
       height:1000px;
       padding-top: 0rem;
        flex-direction: column;
    }
    .container-home-full .content .why-use-seo .why-use-title{
        width:100%;
        height:54%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container-home-full .content .why-use-seo .why-use-title .why-use-title-heading{
        margin-top: 0px;
    }
    .container-home-full .content .why-use-seo .why-use-image{
        width:100%;
        padding-top: 0px;
       
    }

    .container-home-full .content .why-use-seo .why-use-image .why-use-image-img{
        height:100%;
        margin-top: 0px;
       
    }
    
    .container-home-full .content .user-believe .user-believe-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .container-home-full .content .user-believe{
        height:1130px;
    }
    .container-home-full .content .user-believe .user-believe-container .user-believe-wrap-heading{
        padding-bottom: 20px;
    }
    .container-home-full .content .user-believe .user-believe-container .user-believe-container-grid{
      height:80%;
        grid-template-columns: auto;
       
    }
    .container-home-full .content .user-believe .user-believe-container .user-believe-container-grid .user-believe-container-grid-item{
        box-shadow: 0px 5px 11px 0px #d6d5d5;
    }
    .container-home-full .content .user-believe .user-believe-container .user-believe-container-grid .user-believe-container-grid-item{
        width:250px;
        margin-top: 20px;
    }

    .container-home-full .content .certification .certification-container{
        margin-right: 0;
        margin-left: 0;
    }
    .container-home-full .content .certification .certification-heading{
        width:83%;
    }

    .container-home-full .content .certification .certification-container-grid{
        grid-template-columns: auto;
        width:86%;
        height:1500px;
    }
    .container-home-full .content .certification .certification-container-grid .certification-grid-item{
        margin: 0;
        margin-top: 30px;
    }
    .container-home-full .content .certification {
     background-color: #8BC6EC;
      background:#01345B;
      

  
    }
    .container-home-full .content .certification{
        height:1760px;
    }
    .container-home-full .content .certification .certification-container-grid .certification-grid-item .certification-grid-item-content img{
        height:60px;
        width:60px;
    }
    .container-home-full .content .method-seo{
        height:1700px;
    }
    .container-home-full .content .method-seo .method-seo-container{
        flex-direction: column;
    }
    .container-home-full .content .method-seo .method-seo-container .method-seo-wrap-title{
        width:100%;
        text-align: center;
        height:50%;
        padding: 0;
    }
    .container-home-full .content .method-seo .method-seo-container .method-seo-wrap-image{
        width:100%;
        height:50%;
        margin-top: 20px;
    }
    .container-home-full .content .method-seo .method-seo-container .method-seo-wrap-image img{
        width:100%;
    }
    .container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item{
    
       justify-content: center;
       flex-wrap: wrap;
       width:100%;
       height:50%;
       margin: 50px 0px;
    }
    .container-home-full .content .method-seo .method-seo-procedure{
        height:1000px;
        justify-content: center;
    }
    .container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item .procedure-item-wrap-detail{
        padding-left: 0;
        padding-right: 0;
      margin-left: 0;
      width:300px;
      padding: 10px;
    }
    .container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item .procedure-item-wrap-detail:not(:nth-child(1)){
        margin-top: 20px;
    }
    .container-home-full .content .sign-up-certification{
        height:700px;
    }

    .container-home-full .content .sign-up-certification .sign-up-form{
        width:100%;
       display: flex;
       flex-direction: column;
       height:560px;
       padding-left: 20px;
    }
    .container-home-full .content .sign-up-certification .sign-up-form .tr-second,
    .container-home-full .content .sign-up-certification .sign-up-form .tr-thirth,
    .container-home-full .content .sign-up-certification .sign-up-form .tr-four {
      flex-direction: column;
    }
    .container-home-full .content .sign-up-certification .sign-up-form .tr-second-input,
.container-home-full .content .sign-up-certification .sign-up-form .tr-thirth-input,
.container-home-full .content .sign-up-certification .sign-up-form .tr-four-input ,
.container-home-full .content .sign-up-certification .sign-up-form .tr-last-input,
.container-home-full .content .sign-up-certification .sign-up-form input
{
  width:90%;
}
 
.container-home-full .content .news .news-btn{
    display: block;
}
  /* .container-home-full .content .news .news-item-container .wrap-item {
  
  
   
}    */
.container-home-full .content .news .news-item-container .wrap-item .news-item{
  
   padding-left: 10px;
   padding-right: 10px;

 
}
.container-home-full .content .news .news-item-container .wrap-item .news-item img{
    width:100%;
}
.container-home-full .footer-section{
    flex-direction: column;
    height:1200px;
    justify-content: flex-start;
}
.container-home-full .footer-section .footer-section-item{
    width:100%;
    height:30%;
    display: flex;
    padding: 10px;
}
.container-home-full .footer-section .footer-section-item .footer-section-item-logo{
    width:60px;
    height:60px;
}

.container-home-full .footer-section .footer-section-item p{
    padding-right: 10px;
    padding-left: 10px;
  text-align: justify;
}
.container-home-full .footer-section .footer-section-item .icons-social{
    margin-top: 8px;
    margin-left: 10px;
}
.container-home-full .footer-section .footer-section-item:not(:nth-child(1)){
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container-home-full .footer-section .footer-section-item iframe{
    width:100%;
}

.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-first
{
    Left:0;
}
.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-second{
    left:-30px;
}
.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-thirth{
    left:-40px;
}
.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-last{
    left:-70px;
    padding-right: 25px;
}
.container-home-full .footer-overlay .footer-item .tool-tip .tool-tip-text{
    line-height: 21px;
}

.container-home-full .content .content-shape{
    display:none;
}
/* .small-content-overlay{
  
    
} */
}
@media screen and (min-width:740px)and (max-width:1023px){
    

    
}
@media screen and (min-width:1024px){
    .container-home-full .small-content-overlay{
        display: none;
    }

    .container-home-full .content .news .news-item-container .wrap-item .news-item{
        position: relative;
     }
    
}