@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish-Regular.ttf) format("woff2");
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish";
  font-style: normal;
}



a {
  text-decoration: none;
}

.container-home-full {
  overflow: hidden;
  width: 100%;

  /* height:4900px; */
  position: relative;
  .small-content-overlay{
    width:100vw;
    height:100vh;
    position: fixed;
    background: rgba(0,0,0,0.3);
    z-index: 11123;
  display: none;
    &-item{
      background: #fff;
      width:90%;
      height:80%;
      display: flex;
      justify-content: space-around;
    
  

      &-list{
        list-style-type: none;
        padding-top: 40px;
        width: 100%;
      
        .small-list{
          padding: 15px 16px;
          border-bottom: 1px solid #01345B;
          a{
            font-size: 20px;
            color:#222;
          }
        }
      }
      & .small-button-times{
       width:60px;
       height:40px;
        margin-left: 80px;
        font-size: 38px;
        outline: none;
        border: none;
        background: #fff;
        color:red;
       
        border-radius: 5px;
        margin-top: 10px;
      
  //  position: absolute;
  //  right:40%;
  //  top:0;
      }
    }
  }

  .nav {
    height: 44px;
    background: #01345B;

    .nav-wrap-widget {
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;

      .nav-ul .nav-li {
        padding-left: 20px;

        a {
          font-size: 12px;
          font-weight: 600;
          color: #ffffff;

          .fas.fa-phone {
            margin-right: 10px;
            color: #FFCF43;
          }
        }

        font-size: 12px;
        font-weight: 600;

        .fas.fa-envelope,
        .far.fa-clock {
          margin-right: 10px;
          color: #FFCF43;
        }
      }
    }

    .nav-wrap-button .fas.fa-phone-square {
      margin-right: 6px;
    }

    .nav-ul {
      padding-top: 5px;
      display: flex;
      list-style-type: none;
    }

    .nav-wrap-button {
      padding-left: 10px;
      padding-top: 5px;
     
      height: 34px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-right: 115px;
      position: relative;
      cursor: pointer;
      display:flex;
      .nav-btn-contain{
      margin-left: 16px;
      &:first-child{
        position: relative;
        margin-left: 16px;
      
      &::before{
        content:"";
        position: absolute;
        background: #FFCF43;
        width:2px;
        height:20px;
        right:-10px;
      }
    }
      & .icon-lang{
        vertical-align: middle;
      }
      .icon-text {
        vertical-align: top;
        user-select: none;
        color: #ffffff;
        padding: 5px;
      }
    }

      // .section {
      //   display: none;
      //   box-shadow: 0 0 3px rgb(197, 195, 195);
      //   position: absolute;
      //   width: 200px;
      //   height: 100px;
      //   background: #fff;
      //   z-index: 10;
      //   left: -10px;
      //   top: 57px;
      //   border-radius: 3px;
      //   -webkit-border-radius: 3px;
      //   -moz-border-radius: 3px;
      //   -ms-border-radius: 3px;
      //   -o-border-radius: 3px;

      //   &::before {
      //     background: #fff;
      //     content: "";
      //     position: absolute;
      //     width: 20px;
      //     height: 20px;
      //     box-shadow: 0 0 3px rgb(197, 195, 195);
      //     top: -8px;
      //     left: 80px;
      //     transform: rotate(45deg);
      //     -webkit-transform: rotate(45deg);
      //     -moz-transform: rotate(45deg);
      //     -ms-transform: rotate(45deg);
      //     -o-transform: rotate(45deg);
      //   }

      //   &::after {
      //     content: "";
      //     position: absolute;
      //     width: 30px;
      //     height: 17px;
      //     background: #ffff;
      //     top: 0px;
      //     left: 75px;
      //     z-index: 3;
      //   }

      //   .section-li {
      //     list-style-type: none;
      //     padding-top: 15px;
      //     padding-left: 10px;

      //     &:hover {
      //       color: #FFCF43;
      //     }

      //     .section-li-img {
      //       vertical-align: middle;
      //       user-select: none;
      //       object-fit: cover;
      //     }
      //   }
      // }
    }

    .nav-ul .nav-li {
      color: white;
    }
  }

  .header {
    height: 93px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .sticky {
    z-index: 1000;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  .header {
    .header-logo {
      width: 228px;
      height: 100%;
      padding: 10px;
    }

    .wrap-mobile-btn {
      width: 70px;
      height: 50px;
      
      text-align: center;
     margin-left: 60px;
      line-height: 50px;
      
      display: none;
      margin-top: 20px;
      font-size: 34px;
    }

    .header-logo .header-logo-image {
      width: 208px;
      height: 100%;
      object-fit: cover;
    }

    .header-ul {
      padding: 10px;

      .header-li {
        display: inline-block;
        line-height: 70px;
      }

      .button-search {
        padding: 10px 17px;
        cursor: pointer;
        background: #ffffff;
        outline: none;
        border: none;
        font-size: 20px;
      }

      .header-li {
        .header-li-text {
          padding: 10px 20px;
          color: rgb(109, 106, 106);
          position: relative;
          font-weight: 600;
        }

        .header-small-ul {
          width: 200px;
          z-index: 10;
          position: absolute;
          display: none;
          background: #ffffff;
          list-style-type: none;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
        }

        &:nth-child(1):hover .header-small-ul {
          display: block;
        }

        .header-small-ul .header-small-li {
          height: 50px;
          line-height: 45px !important;

          &:hover {
            background: #FFCF43;
            cursor: pointer;

            a {
              color: #ffffff;
            }
          }

          a {
            padding: 16px;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            color: rgb(104, 100, 100);
            font-weight: 500;
          }
        }

        .header-li-text {
          position: relative;
          
          &::after {
            content: "";
            position: absolute;
            background: #FFCF43;
            height: 2px;
            width: 60px;
            bottom: 0px;
            animation: scale 0.3s ease-in-out forwards;
            -webkit-animation: scale 0.3s ease-in-out forwards;
            display: none;
            left:20%;
        
            
          }

          &:hover::after {
            display: block;
            transition: all 0.3s cubic-bezier(0.58, 0.3, 0.005, 1) 0s;
          }
        }
      }
    }
  }

  .content {
    height: auto;

    .content-container {
      position: relative;
      padding-top: 80px;
      padding-bottom: 100px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/business-people-shaking-hands.png);
      background-repeat: repeat;
      background-size: cover;
    }

    .content-wrap-intro {
      .content-title {
        width: 60%;
        height: 413px;
        color: #ffffff;

        .content-title-heading {
          padding-top: 50px;
        }
      }

      display: flex;
      margin-left: 99.5px;
      margin-right: 99.5px;

      .content-image {
        width: 50%;
        height: 400px;

        .content-image-intro {
          width: 94%;
          height: 100%;
          object-fit: contain;
        }
      }

      .content-title {
        .content-title-heading {
          font-size: 2.4rem;
          margin-bottom: 20px;
        }

        .content-title-intro-seo {
          margin-bottom: 20px;
        }

        .content-title-income {
          margin-bottom: 20px;
          font-size: 130%;
          font-weight: 400;
        }

        .content-title-intro-seo {
          font-size: 96%;
          font-weight: 400;
        }

        .button-link {
          width: 190px;
          height: 36px;
          background: #FFCF43;
          line-height: 36px;
          margin-top: 40px;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;

          a {
            color: #ffffff;
            padding: 8px 6px;
            white-space: nowrap;
          }

          .fas.fa-medal {
            margin-right: 6px;
          }
        }
      }
    }

    .content-shape {
      bottom: -1px;
      height: 45px;
      position: absolute;
      box-sizing: border-box;
      left: 0;
      width: 100%;
      line-height: 10px;
      direction: ltr;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);

      .content-shape-image {
        display: block;
        width: calc(100% + 1.3px);
        position: relative;
        left: 50%;
        height: 45px;
        transform: translateX(-50%);

        .content-shape-fill {

          &.content-shape-fill-top,
          &.content-shape-fill-second,
          &.content-shape-fill-bottom {
            overflow: hidden;
          }

          fill: #fff;
          transform-origin: center;
          transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
        }
      }
    }

    .why-use-seo {
      background-image: url(https://seodo.vn/wp-content/uploads/2019/03/background.png);
      height: 600px;
      position: relative;
      display: flex;
      padding-top: 5rem;
      justify-content: center;
      background-color: #fff;
      flex-direction: row-reverse;

      .why-use-title {
        width: 49%;
        padding-left: 40px;

        .why-use-title-heading {
          text-align: justify;
          margin-top: 20px;
        }

        .user-seo-item {
          .user-seo-item-icon {
            padding: 10px 10px;
            color: #FFCF43;
            font-size: 1.2rem;
           
            

            .fa.fa-compass {
              background-color: transparent;
            }
          }

          &:nth-child(2),
          .user-seo-item-text .user-seo-item-text-bold {
            margin-top: 10px;
            
          }

          display: flex;
          margin-top: 15px;
        }
      }

      .button-link-ici {
        padding: 10px 10px;
        color: #Ffffff;
        opacity: 0.8;
        position: absolute;
        bottom: 50px;
        border: 1px solid rgb(224, 221, 221);
        box-shadow: 0 2.7px 3px rgb(238, 238, 238);
        background: #FFCF43;


        &:hover {
          opacity: 1;
        }
      }

      .why-use-image {
        width: 37%;
        padding-top: 30px;

        .why-use-image-img {
          width: 100%;
          height: 70%;
          margin-top: 10px;
        }
      }
    }

    .user-believe {
      height: 441px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-color: #F4F4FF;

      .user-believe-container-overlay {
        padding-top: 50px;
        background-color: #F4F4FF;
        width: 100%;
        height: 100%;
        opacity: .05;
        position: absolute;
        top: 0;
        left: 0;
      }

      .user-believe-container {
        .user-believe-wrap-heading {
          color: #231F1F !important;
          font-size: 35px;
          opacity: 1;
          font-weight: 900;
          text-align: center;
          padding-top: 30px;

          h1 {
            color: #231F1F;
            opacity: 1;
          }
        }

        margin-left: 126px;
        margin-right: 186px;
        background-color: #F4F4FF;

        .user-believe-container-grid {
          height: 250px;
          width: 80%;
          display: grid;
          justify-content: space-evenly;
          grid-template-columns: auto auto auto auto;
          margin: 2rem auto;

          .user-believe-container-grid-item {
            height: 86px;
            width: 160px;
            box-shadow: -9px 5px 11px 0px rgb(214, 213, 213);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background-color: #ffffff;

            img {
              width: 90%;
              height: 90%;
              margin-left: 6px;
              margin-top: 6px;
              object-fit: contain;
            }
          }
        }
      }
    }

    .certification {
      .certification-heading {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 50%;
        text-align: center;
        font-size: 35px;
        color: #ffffff;
        margin: 0 auto;
      }

      position: relative;
      height: 1051px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
      url(../images/pexels-mohannad-marashdeh.png);
      background-repeat: no-repeat;
      background-size: cover;

      .certification-container {
        margin-left: 10px;
        margin-right: 100px;
      }

      .certification-container-grid {
        display: grid;
        grid-template-columns: auto auto;
        height: 780px;
        width: 60%;
        margin: 0px auto;

        .certification-grid-item {
          border: 1px solid rgb(231, 220, 220);
          justify-content: center;
          text-align: center;
          margin: 20px;
          transition: all 0.2s ease-in;
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -ms-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;

          &:hover {
            border-color: #00ce1b;
            border-width: 1px;
          }

          .certification-grid-item-content {
            width: 90%;
            height: 90%;
            margin-left: 1rem;
            margin-top: 20px;
            padding: 15px;
            background: #fff;

            img {
              width: 80px;
              height: 80px;
              transition: transform 0.2s ease-in;
              -webkit-transition: transform 0.2s ease-in;
              -moz-transition: transform 0.2s ease-in;
              -ms-transition: transform 0.2s ease-in;
              -o-transition: transform 0.2s ease-in;

              &:hover {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
              }
            }
          }
        }
      }
    }

    .method-seo {
      height: 670px;
      padding-top: 40px;

      .method-seo-container {
        display: flex;
        justify-content: center;

        .method-seo-wrap-title {
          width: 35%;
          padding: 20px;

          h1 {
            margin-top: 2rem;
            padding-bottom: 30px;
          }
        }

        .method-seo-wrap-image {
          width: 40%;

          img {
            width: 80%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .method-seo-procedure {
        height: 290px;
        text-align: center;

        .method-seo-procedure-item {
          height: 30%;
          margin: 50px auto;
          display: flex;
          width: 80%;

          &:nth-child(2) {
            justify-content: center;
          }

          .procedure-item-wrap-detail {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            padding-left: 20px;
            padding-right: 20px;
            width: 200px;

            .procedure-item-wrap-detail-icon {
              width: 45px;
              height: 45px;
              padding: 5px;
              margin: 0 auto;
              text-align: center;
              line-height: 40px;
              background: #01345B;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
            }
          }
        }
      }
    }

    .sign-up-certification {
      background: #01345B;
      height: 500px;

      .sign-up-certification-heading {
        text-align: center;
        color: #ffffff;
        padding-top: 40px;
        padding-bottom: 20px;
      }

      .sign-up-form {
        width: 650px;
        height: 350px;
        margin: 0 auto;

        input {
          border: 1px solid #fff;
          background: transparent;
          padding: 10px;
          margin: 6px;
          outline: none;
          color: #ffffff;

          &::placeholder {
            color: #ffffff;
          }
        }

        .tr-last-input {
          width: 606px;
          height: 60px;
        }

        .tr-second,
        .tr-thirth,
        .tr-four {
          display: flex;
        }

        .tr-second-input,
        .tr-thirth-input,
        .tr-four-input {
          width: 45.4%;
        }
      }
    }

    .news {
      height: 500px;
      position: relative;
      & .slick-arrow{
        text-align: center;
        position: absolute;
      width:60px;
      height:40px;
       border:none;
        background: rgba(255,255,255,0.8);
        // box-shadow: 0 0 3px rgb(250, 250, 250);
        top:30%;
        border-radius: 5px;
        outline: none;
        display: none;
        z-index: 30;
       
       & i{

        &:nth-child(1){
          animation: toLeft 1.6s ease-in-out infinite;
        opacity: 0.3;
        }
        &:nth-child(2){
          animation: toLeft 1.6s ease-in-out infinite;
              opacity: 0;
              animation-duration: 0.6s;
              }
              
      
       }

      
                &.slick-next{
              
          right:5px;
          i{
          &:nth-child(1){
            animation: toRight 1.6s ease-in-out infinite;
                 opacity: 0;
                
                
                }
                &:nth-child(2){
                  animation: toRight 1.6s ease-in-out infinite;
                       opacity: 0.4;
                      animation-duration: 0.6s;
                     
                      }

        }
     }
        &.slick-prev{
         
          left:5px;

        }

      }
    

      .news-heading {
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
      }

      .news-item-container {
       overflow-x: hidden;
       
        .wrap-item{
          text-align: center;
          justify-content: space-evenly;
          display: flex;
        
        
        .news-item {
          padding-left: 40px;
          padding-right: 40px;
         text-align: center;
          width: 100%;
          height: 360px;
          border: none;
       
         

          h4 {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

  .footer-section {
    background: #01345B;
    height: 500px;
    display: flex;
    justify-content: center;

    .footer-section-item {
      width: 30%;
      padding: 20px;
      color: #ffffff;

      &:not(:nth-child(1)) {
        padding-top: 4rem;
      }

      iframe {
        width: 330px;
        height: 260px;
        margin-top: 10px;
      }
    }
  }

  .footer-overlay {
    width: 100%;
    bottom: 0;
    height: 60px;
    position: fixed;
    background: #FFCF43;
    display: flex;
    justify-content: center;

    .footer-item {
      /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */

      cursor: pointer;
      background-color: hsla(0, 0%, 100%, 0.2);
      height: 40px;
      z-index: -1;
      left: 0;
      right: 0;
      padding: 0 10px;
      margin: 10px 4px;
      position: relative;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      line-height: 40px;

      .footer-item-image {
        transition: opacity 1s ease 0s;
        opacity: 1;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        animation: tada 1.2s infinite;
        transition: all 0.24;
        -webkit-transition: all 0.24;
        -moz-transition: all 0.24;
        -ms-transition: all 0.24;
        -o-transition: all 0.24;
      }

      .tool-tip {
        visibility: hidden;
        position: absolute;
        background: #232f34;
        bottom: 3.5rem;
        color: #ffffff;
        width: 150px;
        height: 120px;
        padding: 12px 8px;
        z-index: 1;
        border-radius: 4px;

        &.tool-tip-first {
          left: 50px;
        }

        &.tool-tip-last {
          right: -8px;
        }

        &::before {
          content: "";
          position: absolute;
        }

        .tool-tip-text {
          font-size: 12px;
          line-height: 20px;
          text-align: center;
        }

        &:after {
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid transparent;
          border-top-color: #232f34;
        }
      }

      &:hover .tool-tip {
        visibility: visible;
      }
    }
  }
}

/* section khi nút tiếng việt dk click  */

/* khi scroll thì sẽ thêm class sticky  tự chế vào .Từ relative sang fixed  */

/* cái nút bars cho mobile  */

@keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@keyframes tada {
  0% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.3, 1.3, 1.3) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
  }

  100% {
    transform: scaleX(1);
  }
}