@charset "UTF-8";
@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish-Regular.ttf) format("woff2");
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish";
  font-style: normal;
}

a {
  text-decoration: none;
}

.container-home-full {
  overflow: hidden;
  width: 100%;
  /* height:4900px; */
  position: relative;
}

.container-home-full .small-content-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 11123;
  display: none;
}

.container-home-full .small-content-overlay-item {
  background: #fff;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-home-full .small-content-overlay-item-list {
  list-style-type: none;
  padding-top: 40px;
  width: 100%;
}

.container-home-full .small-content-overlay-item-list .small-list {
  padding: 15px 16px;
  border-bottom: 1px solid #01345B;
}

.container-home-full .small-content-overlay-item-list .small-list a {
  font-size: 20px;
  color: #222;
}

.container-home-full .small-content-overlay-item .small-button-times {
  width: 60px;
  height: 40px;
  margin-left: 80px;
  font-size: 38px;
  outline: none;
  border: none;
  background: #fff;
  color: red;
  border-radius: 5px;
  margin-top: 10px;
}

.container-home-full .nav {
  height: 44px;
  background: #01345B;
}

.container-home-full .nav .nav-wrap-widget {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-home-full .nav .nav-wrap-widget .nav-ul .nav-li {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 600;
}

.container-home-full .nav .nav-wrap-widget .nav-ul .nav-li a {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.container-home-full .nav .nav-wrap-widget .nav-ul .nav-li a .fas.fa-phone {
  margin-right: 10px;
  color: #FFCF43;
}

.container-home-full .nav .nav-wrap-widget .nav-ul .nav-li .fas.fa-envelope,
.container-home-full .nav .nav-wrap-widget .nav-ul .nav-li .far.fa-clock {
  margin-right: 10px;
  color: #FFCF43;
}

.container-home-full .nav .nav-wrap-button .fas.fa-phone-square {
  margin-right: 6px;
}

.container-home-full .nav .nav-ul {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.container-home-full .nav .nav-wrap-button {
  padding-left: 10px;
  padding-top: 5px;
  height: 34px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-right: 115px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-home-full .nav .nav-wrap-button .nav-btn-contain {
  margin-left: 10px;
}

.container-home-full .nav .nav-wrap-button .nav-btn-contain:first-child {
  position: relative;
}

.container-home-full .nav .nav-wrap-button .nav-btn-contain:first-child::before {
  content: "";
  position: absolute;
  background: #FFCF43;
  width: 2px;
  height: 20px;
  right: 0px;
}

.container-home-full .nav .nav-wrap-button .nav-btn-contain .icon-lang {
  vertical-align: middle;
}

.container-home-full .nav .nav-wrap-button .nav-btn-contain .icon-text {
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
  padding: 5px;
}

.container-home-full .nav .nav-ul .nav-li {
  color: white;
}

.container-home-full .header {
  height: 93px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container-home-full .sticky {
  z-index: 1000;
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
}

.container-home-full .header .header-logo {
  width: 228px;
  height: 100%;
  padding: 10px;
}

.container-home-full .header .wrap-mobile-btn {
  width: 70px;
  height: 50px;
  text-align: center;
  margin-left: 60px;
  line-height: 50px;
  display: none;
  margin-top: 20px;
  font-size: 34px;
}

.container-home-full .header .header-logo .header-logo-image {
  width: 208px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-home-full .header .header-ul {
  padding: 10px;
}

.container-home-full .header .header-ul .header-li {
  display: inline-block;
  line-height: 70px;
}

.container-home-full .header .header-ul .button-search {
  padding: 10px 17px;
  cursor: pointer;
  background: #ffffff;
  outline: none;
  border: none;
  font-size: 20px;
}

.container-home-full .header .header-ul .header-li .header-li-text {
  padding: 10px 20px;
  color: #6d6a6a;
  position: relative;
  font-weight: 600;
}

.container-home-full .header .header-ul .header-li .header-small-ul {
  width: 200px;
  z-index: 10;
  position: absolute;
  display: none;
  background: #ffffff;
  list-style-type: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.container-home-full .header .header-ul .header-li:nth-child(1):hover .header-small-ul {
  display: block;
}

.container-home-full .header .header-ul .header-li .header-small-ul .header-small-li {
  height: 50px;
  line-height: 45px !important;
}

.container-home-full .header .header-ul .header-li .header-small-ul .header-small-li:hover {
  background: #FFCF43;
  cursor: pointer;
}

.container-home-full .header .header-ul .header-li .header-small-ul .header-small-li:hover a {
  color: #ffffff;
}

.container-home-full .header .header-ul .header-li .header-small-ul .header-small-li a {
  padding: 16px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #686464;
  font-weight: 500;
}

.container-home-full .header .header-ul .header-li .header-li-text {
  position: relative;
}

.container-home-full .header .header-ul .header-li .header-li-text::after {
  content: "";
  position: absolute;
  background: #FFCF43;
  height: 2px;
  width: 60px;
  bottom: 0px;
  animation: scale 0.3s ease-in-out forwards;
  -webkit-animation: scale 0.3s ease-in-out forwards;
  display: none;
  left: 20%;
}

.container-home-full .header .header-ul .header-li .header-li-text:hover::after {
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.58, 0.3, 0.005, 1) 0s;
  transition: all 0.3s cubic-bezier(0.58, 0.3, 0.005, 1) 0s;
}

.container-home-full .content {
  height: auto;
}

.container-home-full .content .content-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3))), url(../images/business-people-shaking-hands.png);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/business-people-shaking-hands.png);
  background-repeat: repeat;
  background-size: cover;
}

.container-home-full .content .content-wrap-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 99.5px;
  margin-right: 99.5px;
}

.container-home-full .content .content-wrap-intro .content-title {
  width: 60%;
  height: 413px;
  color: #ffffff;
}

.container-home-full .content .content-wrap-intro .content-title .content-title-heading {
  padding-top: 50px;
}

.container-home-full .content .content-wrap-intro .content-image {
  width: 50%;
  height: 400px;
}

.container-home-full .content .content-wrap-intro .content-image .content-image-intro {
  width: 94%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-home-full .content .content-wrap-intro .content-title .content-title-heading {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.container-home-full .content .content-wrap-intro .content-title .content-title-intro-seo {
  margin-bottom: 20px;
}

.container-home-full .content .content-wrap-intro .content-title .content-title-income {
  margin-bottom: 20px;
  font-size: 130%;
  font-weight: 400;
}

.container-home-full .content .content-wrap-intro .content-title .content-title-intro-seo {
  font-size: 96%;
  font-weight: 400;
}

.container-home-full .content .content-wrap-intro .content-title .button-link {
  width: 190px;
  height: 36px;
  background: #FFCF43;
  line-height: 36px;
  margin-top: 40px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.container-home-full .content .content-wrap-intro .content-title .button-link a {
  color: #ffffff;
  padding: 8px 6px;
  white-space: nowrap;
}

.container-home-full .content .content-wrap-intro .content-title .button-link .fas.fa-medal {
  margin-right: 6px;
}

.container-home-full .content .content-shape {
  bottom: -1px;
  height: 45px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  width: 100%;
  line-height: 10px;
  direction: ltr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.container-home-full .content .content-shape .content-shape-image {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  height: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container-home-full .content .content-shape .content-shape-image .content-shape-fill {
  fill: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.container-home-full .content .content-shape .content-shape-image .content-shape-fill.content-shape-fill-top, .container-home-full .content .content-shape .content-shape-image .content-shape-fill.content-shape-fill-second, .container-home-full .content .content-shape .content-shape-image .content-shape-fill.content-shape-fill-bottom {
  overflow: hidden;
}

.container-home-full .content .why-use-seo {
  background-image: url(https://seodo.vn/wp-content/uploads/2019/03/background.png);
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container-home-full .content .why-use-seo .why-use-title {
  width: 49%;
  padding-left: 40px;
}

.container-home-full .content .why-use-seo .why-use-title .why-use-title-heading {
  text-align: justify;
  margin-top: 20px;
}

.container-home-full .content .why-use-seo .why-use-title .user-seo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.container-home-full .content .why-use-seo .why-use-title .user-seo-item .user-seo-item-icon {
  padding: 10px 10px;
  color: #FFCF43;
  font-size: 1.2rem;
}

.container-home-full .content .why-use-seo .why-use-title .user-seo-item .user-seo-item-icon .fa.fa-compass {
  background-color: transparent;
}

.container-home-full .content .why-use-seo .why-use-title .user-seo-item:nth-child(2),
.container-home-full .content .why-use-seo .why-use-title .user-seo-item .user-seo-item-text .user-seo-item-text-bold {
  margin-top: 10px;
}

.container-home-full .content .why-use-seo .button-link-ici {
  padding: 10px 10px;
  color: #Ffffff;
  opacity: 0.8;
  position: absolute;
  bottom: 50px;
  border: 1px solid #e0dddd;
  -webkit-box-shadow: 0 2.7px 3px #eeeeee;
          box-shadow: 0 2.7px 3px #eeeeee;
  background: #FFCF43;
}

.container-home-full .content .why-use-seo .button-link-ici:hover {
  opacity: 1;
}

.container-home-full .content .why-use-seo .why-use-image {
  width: 37%;
  padding-top: 30px;
}

.container-home-full .content .why-use-seo .why-use-image .why-use-image-img {
  width: 100%;
  height: 70%;
  margin-top: 10px;
}

.container-home-full .content .user-believe {
  height: 441px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #F4F4FF;
}

.container-home-full .content .user-believe .user-believe-container-overlay {
  padding-top: 50px;
  background-color: #F4F4FF;
  width: 100%;
  height: 100%;
  opacity: .05;
  position: absolute;
  top: 0;
  left: 0;
}

.container-home-full .content .user-believe .user-believe-container {
  margin-left: 126px;
  margin-right: 186px;
  background-color: #F4F4FF;
}

.container-home-full .content .user-believe .user-believe-container .user-believe-wrap-heading {
  color: #231F1F !important;
  font-size: 35px;
  opacity: 1;
  font-weight: 900;
  text-align: center;
  padding-top: 30px;
}

.container-home-full .content .user-believe .user-believe-container .user-believe-wrap-heading h1 {
  color: #231F1F;
  opacity: 1;
}

.container-home-full .content .user-believe .user-believe-container .user-believe-container-grid {
  height: 250px;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 2rem auto;
}

.container-home-full .content .user-believe .user-believe-container .user-believe-container-grid .user-believe-container-grid-item {
  height: 86px;
  width: 160px;
  -webkit-box-shadow: -9px 5px 11px 0px #d6d5d5;
          box-shadow: -9px 5px 11px 0px #d6d5d5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff;
}

.container-home-full .content .user-believe .user-believe-container .user-believe-container-grid .user-believe-container-grid-item img {
  width: 90%;
  height: 90%;
  margin-left: 6px;
  margin-top: 6px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-home-full .content .certification {
  position: relative;
  height: 1051px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3))), url(../images/pexels-mohannad-marashdeh.png);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/pexels-mohannad-marashdeh.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-home-full .content .certification .certification-heading {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  margin: 0 auto;
}

.container-home-full .content .certification .certification-container {
  margin-left: 10px;
  margin-right: 100px;
}

.container-home-full .content .certification .certification-container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: 780px;
  width: 60%;
  margin: 0px auto;
}

.container-home-full .content .certification .certification-container-grid .certification-grid-item {
  border: 1px solid #e7dcdc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.container-home-full .content .certification .certification-container-grid .certification-grid-item:hover {
  border-color: #00ce1b;
  border-width: 1px;
}

.container-home-full .content .certification .certification-container-grid .certification-grid-item .certification-grid-item-content {
  width: 90%;
  height: 90%;
  margin-left: 1rem;
  margin-top: 20px;
  padding: 15px;
  background: #fff;
}

.container-home-full .content .certification .certification-container-grid .certification-grid-item .certification-grid-item-content img {
  width: 80px;
  height: 80px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -ms-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
}

.container-home-full .content .certification .certification-container-grid .certification-grid-item .certification-grid-item-content img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.container-home-full .content .method-seo {
  height: 670px;
  padding-top: 40px;
}

.container-home-full .content .method-seo .method-seo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home-full .content .method-seo .method-seo-container .method-seo-wrap-title {
  width: 35%;
  padding: 20px;
}

.container-home-full .content .method-seo .method-seo-container .method-seo-wrap-title h1 {
  margin-top: 2rem;
  padding-bottom: 30px;
}

.container-home-full .content .method-seo .method-seo-container .method-seo-wrap-image {
  width: 40%;
}

.container-home-full .content .method-seo .method-seo-container .method-seo-wrap-image img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-home-full .content .method-seo .method-seo-procedure {
  height: 290px;
  text-align: center;
}

.container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item {
  height: 30%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item .procedure-item-wrap-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}

.container-home-full .content .method-seo .method-seo-procedure .method-seo-procedure-item .procedure-item-wrap-detail .procedure-item-wrap-detail-icon {
  width: 45px;
  height: 45px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  background: #01345B;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container-home-full .content .sign-up-certification {
  background: #01345B;
  height: 500px;
}

.container-home-full .content .sign-up-certification .sign-up-certification-heading {
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.container-home-full .content .sign-up-certification .sign-up-form {
  width: 650px;
  height: 350px;
  margin: 0 auto;
}

.container-home-full .content .sign-up-certification .sign-up-form input {
  border: 1px solid #fff;
  background: transparent;
  padding: 10px;
  margin: 6px;
  outline: none;
  color: #ffffff;
}

.container-home-full .content .sign-up-certification .sign-up-form input::-webkit-input-placeholder {
  color: #ffffff;
}

.container-home-full .content .sign-up-certification .sign-up-form input:-ms-input-placeholder {
  color: #ffffff;
}

.container-home-full .content .sign-up-certification .sign-up-form input::-ms-input-placeholder {
  color: #ffffff;
}

.container-home-full .content .sign-up-certification .sign-up-form input::placeholder {
  color: #ffffff;
}

.container-home-full .content .sign-up-certification .sign-up-form .tr-last-input {
  width: 606px;
  height: 60px;
}

.container-home-full .content .sign-up-certification .sign-up-form .tr-second,
.container-home-full .content .sign-up-certification .sign-up-form .tr-thirth,
.container-home-full .content .sign-up-certification .sign-up-form .tr-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-home-full .content .sign-up-certification .sign-up-form .tr-second-input,
.container-home-full .content .sign-up-certification .sign-up-form .tr-thirth-input,
.container-home-full .content .sign-up-certification .sign-up-form .tr-four-input {
  width: 45.4%;
}

.container-home-full .content .news {
  height: 500px;
  position: relative;
}

.container-home-full .content .news .slick-arrow {
  text-align: center;
  position: absolute;
  width: 60px;
  height: 40px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  top: 30%;
  border-radius: 5px;
  outline: none;
  display: none;
  z-index: 30;
}

.container-home-full .content .news .slick-arrow i:nth-child(1) {
  -webkit-animation: toLeft 1.6s ease-in-out infinite;
          animation: toLeft 1.6s ease-in-out infinite;
  opacity: 0.3;
}

.container-home-full .content .news .slick-arrow i:nth-child(2) {
  -webkit-animation: toLeft 1.6s ease-in-out infinite;
          animation: toLeft 1.6s ease-in-out infinite;
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.container-home-full .content .news .slick-arrow.slick-next {
  right: 5px;
}

.container-home-full .content .news .slick-arrow.slick-next i:nth-child(1) {
  -webkit-animation: toRight 1.6s ease-in-out infinite;
          animation: toRight 1.6s ease-in-out infinite;
  opacity: 0;
}

.container-home-full .content .news .slick-arrow.slick-next i:nth-child(2) {
  -webkit-animation: toRight 1.6s ease-in-out infinite;
          animation: toRight 1.6s ease-in-out infinite;
  opacity: 0.4;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.container-home-full .content .news .slick-arrow.slick-prev {
  left: 5px;
}

.container-home-full .content .news .news-heading {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.container-home-full .content .news .news-item-container {
  overflow-x: hidden;
}

.container-home-full .content .news .news-item-container .wrap-item {
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-home-full .content .news .news-item-container .wrap-item .news-item {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  width: 100%;
  height: 360px;
  border: none;
}

.container-home-full .content .news .news-item-container .wrap-item .news-item h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.container-home-full .footer-section {
  background: #01345B;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home-full .footer-section .footer-section-item {
  width: 30%;
  padding: 20px;
  color: #ffffff;
}

.container-home-full .footer-section .footer-section-item:not(:nth-child(1)) {
  padding-top: 4rem;
}

.container-home-full .footer-section .footer-section-item iframe {
  width: 330px;
  height: 260px;
  margin-top: 10px;
}

.container-home-full .footer-overlay {
  width: 100%;
  bottom: 0;
  height: 60px;
  position: fixed;
  background: #FFCF43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-home-full .footer-overlay .footer-item {
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  z-index: -1;
  left: 0;
  right: 0;
  padding: 0 10px;
  margin: 10px 4px;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  line-height: 40px;
}

.container-home-full .footer-overlay .footer-item .footer-item-image {
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  opacity: 1;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-animation: tada 1.2s infinite;
          animation: tada 1.2s infinite;
  transition: all 0.24;
  -webkit-transition: all 0.24;
  -moz-transition: all 0.24;
  -ms-transition: all 0.24;
  -o-transition: all 0.24;
}

.container-home-full .footer-overlay .footer-item .tool-tip {
  visibility: hidden;
  position: absolute;
  background: #232f34;
  bottom: 3.5rem;
  color: #ffffff;
  width: 150px;
  height: 120px;
  padding: 12px 8px;
  z-index: 1;
  border-radius: 4px;
}

.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-first {
  left: 50px;
}

.container-home-full .footer-overlay .footer-item .tool-tip.tool-tip-last {
  right: -8px;
}

.container-home-full .footer-overlay .footer-item .tool-tip::before {
  content: "";
  position: absolute;
}

.container-home-full .footer-overlay .footer-item .tool-tip .tool-tip-text {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.container-home-full .footer-overlay .footer-item .tool-tip:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #232f34;
}

.container-home-full .footer-overlay .footer-item:hover .tool-tip {
  visibility: visible;
}

/* section khi nút tiếng việt dk click  */
/* khi scroll thì sẽ thêm class sticky  tự chế vào .Từ relative sang fixed  */
/* cái nút bars cho mobile  */
@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@-webkit-keyframes tada {
  0% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate(3deg);
            transform: scale3d(1.3, 1.3, 1.3) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
            transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes tada {
  0% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate(3deg);
            transform: scale3d(1.3, 1.3, 1.3) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
            transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=style.css.map */